.banding-class {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  .content {
    flex: 1;
    margin: 15px 0;
  }

  .control {
    text-align: center;
  }

  .title {
    margin: 10px 0;
    color: #000;
    padding: 0 10px;
    border-left: 4px solid rgb(101, 152, 202);
  }

  .first-upload {

  }
}